/* common */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'ro';
    src: url('../font/OPTITimes-Roman.otf') format('opentype');
    /* font-weight: normal; */
    font-style: normal;
}

*{
	--mainCol: #ff7a01;
	word-break: keep-all !important;
	font-family: 'Noto Sans KR', sans-serif;
}

html, body {
	/* scroll-behavior: smooth; */
}

.mb{
	display: none !important;
}

.imgBox img{
	max-width: 100%;
}

.inner{
	width: 90%;
	max-width: 1500px;
	margin: auto;
}

.section{
	padding: 100px 0;
}

.tit{
	font-family: 'ro';
	line-height: 1.4;
	font-weight: 500;
	font-size: 50px;
	text-align: center;
}

.tit .s{
	font-family: 'ro';
	font-size: 0.7em;
}

.conTxt{
	font-size: 22px;
	line-height: 1.7;
}

.contents{
	padding-bottom: 100px;
}


/* header */
.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
}

.header .inner{
	display: flex;
	align-items: flex-end;
	height: 120px;
}

/* goback */
.goback{
	position: fixed;
	top: 20px;
	right: 20px;
	border-radius: 100px;
	height: 50px;
	line-height: 50px;
	width: 200px;
	text-align: center;
	border: 1px solid #ccc;
	font-size: 14px;
	z-index: 999;
	background: rgba(255,255,255,0.3);
	backdrop-filter: blur(5px);
	display: none;
	cursor: pointer;
}

.goback.on{
	display: block;
}

.goback p{
	font-weight: 600;
}

/* visual */
.visual{
	background: url(../img/visual01.jpg) no-repeat center / cover;
	height: 1080px;
	box-sizing: border-box;
	padding: 280px 0 0;
}

.visual .inner{
	display: flex;
}

.visual .tit{
	font-size: 72px;
	text-align: center;
	color: #fff;
}

/* navBox */
.navBox{
	background: url(../img/navBoxBg.jpg) no-repeat center / cover;
	margin-top: 100px;
	transition: all 1s;
	/* position: sticky;
	top: 0;
	left: 0;
	width: 100%; */
}

.navBox .inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navBox .tit{
	color: #fff;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
}

.navBox nav ul li{
	text-align: right;
	margin-bottom: 15px;
}

.navBox nav ul li:last-child{
	margin-bottom: 0px;
}

.navBox nav ul li a{
	color: #fff;
	font-family: "ro";
	font-size: 28px;
	line-height: 1.3;
	transition: all 0.3s;
	display: inline-block;
	border: 1px solid #fff;
	padding: 8px 25px;
	border-radius: 100px;
	/* backdrop-filter: blur(5px); */
}

.navBox nav ul li a:hover{
	color: #d3950d;
	border-color: #d3950d;
	/* text-decoration: underline; */
}

/* section1 */
.section1{
	padding-bottom: 0 !important;
}

.section1 .inner{
	display: flex;
	align-items: center;
}

.section1 .txtBox{
	width: 56%;
	box-sizing: border-box;
	text-align: center;
}

.section1 .tit{
	font-size: 60px;
	margin-bottom: 30px;
}

.section1 .imgBox{
	width: 44%;
	max-width: 658px;
}

/* section2 */
.section2{
	background: url(../img/section2_bg.jpg) no-repeat center / cover;
	margin-top: 100px;
}

.section2 .tit{
	color: #fff;
}

/* section3 */
.section3{
	text-align: center;
	padding-bottom: 0 !important;
}

.section3 .imgBox{
	margin-top: 100px;
}


@media screen and (max-width: 720px){


.pc{
	display: none !important;
}

.mb{
	display: block !important;
}

.section{
	padding: 12vw 0;
}

.tit{
	font-size: 7vw;
}

.tit .s{
	font-size: 0.7em;
}

.conTxt{
	font-size: 3vw;
	line-height: 1.7;
}

.contents{
	padding-bottom: 12vw;
}


/* header */
.header .inner{
	height: 12vw;
	justify-content: center;
}

.header .logo{
	width: 25%;
}

.header .logo img{
	max-width: 100%;
}

/* goback */
.goback{
	top: 15px;
	right: 15px;
	border-radius: 100px;
	height: 35px;
	line-height: 35px;
	width: 120px;
	text-align: center;
	border: 1px solid #ccc;
	font-size: 12px;
	z-index: 999;
	background: rgba(255,255,255,0.3);
	display: none;
	cursor: pointer;
}

.goback.on{
	display: block;
}

.goback p{
	font-weight: 600;
}

/* visual */
.visual{
	background: url(../img/visual01_m.jpg) no-repeat center / cover;
	height: auto;
	padding: 0;
}

.visual .inner{
	align-items: center;
	align-content: center;
	height: 100vh;
}

.visual .tit{
	font-size: 9vw;
	width: 100%;
}

/* navBox */
.navBox{
	background: url(../img/navBoxBg_m.jpg) no-repeat center / cover;
	margin-top: 12vw;
}

.navBox .inner{
	flex-wrap: wrap;
	justify-content: center;
}

.navBox .txtBox{
	width: 100%;
	margin-bottom: 3vw;
}

.navBox .tit{
	color: #fff;
	font-size: 7.5vw;
	font-weight: 400;
	text-align: center;
}

.navBox nav{
	width: 100%;
}

.navBox nav ul li{
	text-align: center;
	margin-bottom: 2vw;
}

.navBox nav ul li a{
	font-size: 4vw;
	line-height: 1.3;
	padding: 1.3vw 5vw;
	width: 80%;
	box-sizing: border-box;
}

/* section1 */
.section1 .inner{
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.section1 .txtBox{
	width: 100%;
	margin-bottom: 5vw;
}

.section1 .tit{
	font-size: 8.5vw;
	margin-bottom: 3vw;
}

.section1 .imgBox{
	width: 100%;
	max-width: 100%;
}

/* section2 */
.section2{
	background: url(../img/section2_bg_m.jpg) no-repeat center / cover;
	margin-top: 12vw;
}

/* section3 */
.section3 .imgBox{
	margin: 12vw auto 0;
	width: 80%;
}


}